/* General Reset */
body, html {
    font-family: 'Comfortaa' , cursive;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #fff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%
  }
  
.container {
    text-align: center;
  }
  
h1 {
    font-size: 2.5rem;
    font-family: 'Comfortaa' , cursive;
    font-weight: 400;
    margin-bottom: 20px;
  }
  


